<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td>标题</td>
            <td>内容</td>
        </tr>
        {% for news in newslist  %}
        <tr>
            <td><a href="/newslist/{{news.pk}}">{{news.title}}</a></td>
            <td>{{news.content}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>