<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <table>
            <tr>
                <td></td>
            </tr>{% for book in books %}
            <tr>
                <td>{{book.dym}}</td>
                <td>{{book.dy}}</td>
                <td>{{book.bj}}</td>
                <td>{{book.zy}}</td>
                <td>{{book.lx}}</td>
                <td>{{book.zpgj}}</td>
                <td>{{book.uu}}</td>
                <td>{{book.syrq}}</td>
                <td>{{book.pc}}</td>
                <td>{{book.ym}}</td>
                <td>{{book.jj}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>